body
	background #000

header
	.container
		position relative
		z-index 100

	ul
		list-style none
		padding 0px

	nav#mainMenu
		background #282828
		border-left 15px solid #fcaf01
		height 71px
		width 100%

		ul
			position absolute
			right 17px
			li
				display inline-block
				vertical-align top

			#btnHome
				background url("../images/homeBtn.png")
				display block
				height 71px
				width 107px
				&:hover
					background url("../images/homeBtn.png") bottom

			#btnContact
				background #fcaf01
				color #000
				display block
				font-size 22px
				padding-bottom 10px
				padding-top 30px
				text-align center
				width 290px

	#headerInformation
		background rgba(0, 0, 0, .25)
		padding-top 20px
		position absolute
		text-align right
		left 5%
		padding 0px 10px 0 20px
		text-align center
		top 0%
		z-index 99

		img
			margin-bottom 20px
			max-width 80%
	
	#networksList	
		ul
			padding-right 50px

			li
				display inline-block

				a
					display block
					height 36px
					width 37px

				#btnFacebook
					background url("../images/btnFace.png")

				#btnTwitter
					background url("../images/btntwitter.png")

				#btnInstagram
					background url("../images/btnInsta.png")

				#btnYoutube
					background url("../images/btnYouTo.png")


#slider
	top -79px;
	width 100%
	
	ul
		padding 0
		margin-bottom 0px
		
		li
			img
				width 100%

.container
	#secondaryMenu
		position relative

		nav
			min-height 141px
			padding-top 15px
			position absolute
			bottom 10px

			ul
				margin-left 35px
				li
					color #e7b000
					font-size 26px

					a
						color #fff

		#secondaryOne, #secondaryThree 
			background rgba(234, 173, 19, 0.1)

		#secondaryTwo
			background rgba(234, 173, 19, 0.4)
			left 33.33333333%

		#secondaryThree
			left 66.66666666%

		
		
footer
	#elevenYears
		padding-top 15px
		p
			color #fff
			padding-bottom 15px
			padding-top 15px
			text-align center
	#moreInfo
		background #1e1e1e
		padding-bottom 70px
		padding-top 15px
		position relative

		ul
			color #fff
			list-style none
			li
				background url("../images/flecha.png") no-repeat
				background-position center left
				font-size 18px
				padding-left 30px
		#yuxta
			background url("../images/yuxtaBtn.png")
			bottom 15px
			display block
			height 49px
			position absolute
			right 15px
			width 107px
			&:hover
				background url("../images/yuxtaBtn.png") bottom

@media (max-width: 1000px)
	.container 
		padding 0px
		width 100% !important

	header
		#logo
			display block
			margin auto
			position static

		#networksList
			ul
				float left
				padding-left 20px
				padding-top 20px
				position static !important
		#headerInformation 
			display none

	#elevenYears
		img
			display block
			margin auto
	footer
		#moreInfo
			padding-bottom 15px

			img
				display block
				margin auto

			#yuxta
				position static
				margin auto

	
	.container
		#secondaryMenu
			nav
				position static

@media (max-width: 650px)
	header 
		nav#mainMenu 
			ul 
				position static
				text-align center
				width 100%

				#btnContact
					width 130%

img
	max-width 100%